* {
  margin: 0 0 0 0;
  gap: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

body {
  font-family: "Space Mono", monospace;
}
body {
  background-color: #6b5b95;
  overflow-x: hidden;
}
header {
  display: flex;
  background-color: #6b5b95;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
#headerTitle {
  font-size: clamp(1em, 2vw, 2em) !important;
  margin: 0 0 0 0.5vw;
}
header > span {
  display: flex;
  align-items: center;
}
nav {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navUl {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 20px;
}
.navLi {
  padding: 10px;
  position: relative;
}
.navLi:hover {
  animation: grow 500ms ease;
}
.navLi:active {
  animation: shrink 500ms ease;
}
@keyframes grow {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes shrink {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
